/* $Id: style.css,v 1.1.4.2 2008/01/13 23:47:31 Gurpartap Exp $ */

/* Main container styles */
* {
  margin: 0;
  padding: 0;
}

body {
font: normal 0.8em "Trebuchet MS", sans-serif;
line-height: 1.6em;
color: #666666;
background: url(img/top_bg.gif);
background-repeat: repeat-x;
}

/* TinyMCE specific rules */
body.mceContentBody {
   background: #FFF;
}

/* header span*/

#header {
  width:100%;
  height:120px;
}

#headerInner {
  position: relative;
  width: 950px;
  height:120px;
  margin: 0 auto;
}

/* logo, text logo, and slogan */

#siteName {
  font-family:"trebuchet ms", helvetica, sans-serif ;
  color: #fff;
  font-size: 44px;
  text-transform: lowercase;
  display: inline;
  line-height: 110px;
}

#siteSlogan {  
  font-family:"trebuchet ms", helvetica, sans-serif ;
  float:left;
  margin:33px 0 0 10px;
  color: #eee;
  font-size: 24px;
  white-space:nowrap;
  text-transform: lowercase;
}

#siteName a {
  color:#fff;
  text-decoration:none;
}

#siteName a:hover {
  color:#ddd;
  text-decoration:none;
}

#logo {
  float: left;
  margin:35px 0 0 0;
}

#logo img {
  float: left;
  border: 0;
}

#logowrapper {position: absolute;}
#logowrapper p{color:#fff;float:left;font-size:0.9em;height:40px;line-height:1.3;padding-left:5px;padding-top:32px;width:210px;}
#logowrapper p a{color:#fff;text-decoration:underline;}

/* navigation links */

#navigation{position:absolute;right:0;top:0px;}
#navigation li a{background:#fff url(img/menu.gif) no-repeat 0 100%;color:#2d373f;display:block;font-weight:700;margin:0 3px;padding:5px 0;text-align:center;width:90px;}
#navigation li.active a,#navigation li a:hover{color:#2b76af;padding-top:12px;text-decoration:none;}
#navigation li{float:left; list-style:none;}

/* main body layout */

#main {
  background: #fff;
}

#mainInner {
  position: relative;
  width: 950px;
  margin: 0 auto;
  padding-top: 1em;
}

/* 3 columns and primary content layout */
  
#primaryContent {
  position: relative;
  margin-right: 34em;
  margin-left: 0.2em;
}

#primaryContent h3 {
  margin:5px 0 5px 0;
}
  
#columns {
  position: relative;
  float: left;
  width: 100%;
  margin-right: -34em;
  margin-bottom:15px;
  padding-right: 2em;
  overflow:hidden;
}

#columns h2 {
  font-size:18px;
  margin:10px 0 5px 0;
}
  
/* secondary content */
  
#secondaryContent {
  float: right;
}

/* begin sidebarLeft */

#sidebarLeft {
width: 230px;
background: #31363E;
float: left;
margin: 0em 1em 0.5em 1em;
color: #B9B9B9;
}

#sidebarLeft .title {
  margin:0;
  padding: 0;
}

.sidebarLeft-content {
padding: 0 15px 0 15px;
text-align: justify;
}

#sidebarLeft span#topspan {
display: block;
height: 60px;
width: 230px;
margin: 0;
padding: 0;
background: #fff url(img/top.gif) no-repeat top left;
}
#sidebarLeft span#bottomspan {
display: block;
height: 60px;
width: 230px;
margin: 0;
padding: 0;
background: #fff url(img/bottom.gif) no-repeat top left;
}
  
#sidebarRight {
  width: 13em;
  float: left;
  margin: 4.5em 0em 0.5em 0.5em;
}
  
#sidebarRight .title {
  margin:0;  
  background: url('img/leafh2.gif') top left no-repeat;
  padding:0 0 3px 18px;   
  border-bottom:1px solid #e9e6d8; 
}

#sidebarRight h3 {
  border:none;
}

/* node and basic text attributes */

h1,h2,h3,h4,h5,h6 {
  font-family:Georgia, "Times New Roman", Times, serif;
  font-weight:normal;
  letter-spacing: -1px;
}
h1,h2,h3 {
  font-size:1.6em;
}
h4,h5,h6 {
  font-size:1.5em;
}
h5 {
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: #539FCF;
}

a:hover {
  text-decoration: underline;
  color:#539FCF;
}

.content {
  margin-top:15px;
  clear: both;
}

.content p {
  line-height: 1.5em;
  text-align: left;
  margin-bottom: 1em;
}

.node {
  margin: 0 0 1em 0;
}

.node ul, .node ol {
  margin: 1em 3em 1em 3em;
  line-height: 1.5em;
}
.node ul{
  margin: 1em 3em 1em 0;
}

.node ul li{
  padding: 0 0 0 3em;
  background:url('img/custombullet.gif') 19px 5px no-repeat;
}

* html .node ul li{
   height:10px;
}

#comment-form div.form-item{
   clear:both;
   padding:10px 20px;
   background:#FAF8F5;
   border:1px solid #f4f2eb;
}

* html #comment-form div.form-item{
   height:1px;
}

div.picture{
   float:left; 
   margin:0 0 0 0;
   padding:5px;
}

div.picture a{
   display:block;
   width:auto;
   height:auto;
   padding:1px;
   border:1px solid #A0B2BC;
}

.nodeimg {
   padding:3px;
   border:1px solid #A0B2BC;
}

div.picture a:hover{   
   border:1px solid #31353E;
}

div.picture a img{
   display:block;   
}

.nodeTitle, .pageTitle {
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size: 1.7em;
  letter-spacing: -1px;
  font-weight: normal;
  padding: 5px 0px 3px 0px;
  line-height: 25px;
  clear:left;  
}

.nodeTitle, .pageTitle{   
   padding-left:40px;
   background:url('img/leaf1.gif') top left no-repeat; 
   width:400px;   
}

div#comments h2.title{   
   padding:10px 0 10px 40px;
   background:url('img/leaf1.gif') center left no-repeat; 
   width:400px;   
}

.nodeTitle a {
  color:#3C4E55;
}

.nodeTitle a:hover {
  text-decoration: none;
  color:#2596D0;
  border-bottom: 1px dotted #2596D0;
}

.submitted {
  background: url(img/user.gif) no-repeat;
  background-position: 2px 3px;
  padding:3px 0 3px 20px;
  color:#999;
  font: normal 11px arial;
  margin:0 0 0 3px; 
  float: left;
}

.linkswrap {
  background-color: #e2eff8;
  padding: 5px;
  margin-bottom: 3em;
}

.service-links {
  background-color: #e2eff8;
  border-top: 3px solid #B9D9EE;
  padding: 5px;
  margin-bottom: 0em;
  margin-top: 1em;
}

.postlinks {
  background-image: url(img/commenticon.gif);
  background-repeat: no-repeat;
  background-position: 0 50%;
  position: relative;
  padding: 1px 0 0 20px;
  margin: .4em 0;
}

.taxonomy {
  background-image: url(img/posted.gif);
  background-repeat: no-repeat;
  background-position: 0 50%;
  position: relative;
  padding: 1px 0 0 20px;
  margin: .4em 0;
}
  
ul.links {
  list-style-type: none;
  margin: 0;  
}
ul.links.inline {
  display: inline;
}
ul.links li {
  display: inline;
  margin: 0 0.2em;
  padding:0;
  background-image:none;
}

/* comments layout */

.commentbox{
  background: #f3f3f3 url(img/comment_line.gif) no-repeat 0 -2px;
  padding: 10px;
  margin:0 0 9px 0;
  clear: both;
  min-height:65px;
  height:auto !important;
}

.commentbox .avatar {
  width:54px;
  height:54px;
  background:url(img/avatar.jpg) no-repeat;
  float:left; 
  margin:0 0 0 0;
}

.commentbox p{
  margin:5px 0 10px 0;
  font: normal 12px/16px arial;
}
  
.comment_date {
  color:#999; 
  font:normal 11px arial; 
  line-height:23px;
}

.comment_links {
  float: right;
}

.comment_links ul {
  background:#FFFFDA;
  padding: 1px 3px 1px 3px;
}
  
.author_meta{   
  width:420px;  
  margin-left:64px;
  min-height:60px;
}

* html .author_meta{
  height:60px;
}
  
.clearfix:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
  }

/* other styles */

#mission {
  font-size: 13px;
  margin: 0 0 2em 0;
  background: #F4F1EA url('img/mission3.gif') top center repeat-y;   
  width:515px;
}

#mission div#mcontainer{  
  background: url('img/mission2.gif') bottom center no-repeat;  
}

#mission div#mcontainer1{  
  background: url('img/mission1.gif') top center no-repeat;
  padding:10px 3px 10px 15px;   
}

#mission h1, #mission h2{font-size:1.5em; margin:0 0 0.5em 0;}

#mission ul li{
   width:145px;
   padding:7px;
   float:left;
   list-style:none;
}
.clearme{
   clear:both;
   height:1em;
   font-size:1%;
}

dt {
  font-size:14px;
  font-weight:bold;
  margin:10px 0 5px 0;
}

.commentTitle {
  font-size:18px ;
}

.block {
  margin: 10px 0 20px 0;
}

.messages {
  background:#FFFFDA;
  margin: 5px 0 5px 0;
  padding: 10px;
}

#pager {
  clear:both;
  padding:30px 0px 10px 0;
}

/* img styles */

#thumbBox{ /*Outermost DIV for thumbnail viewer*/
position: absolute;
left: 0;
top: 0;
width: auto;
padding: 10px;
padding-bottom: 0;
background: #31363E;
visibility: hidden;
z-index: 10;
cursor: hand;
cursor: pointer;
}

#thumbBox .footerbar{ /*Footer DIV of thumbbox that contains "close" link */
font: bold 16px arial;
letter-spacing: 5px;
line-height: 1.1em;
color: white;
padding: 5px 0;
text-align: right;
}

#thumbBox #thumbImage{ /*DIV within thumbbox that holds the enlarged image */
background-color: white;
}

#thumbLoading{ /*DIV for showing "loading" status while thumbbox is being generated*/
position: absolute;
visibility: hidden;
border: 1px solid black;
background-color: #EFEFEF;
padding: 5px;
z-index: 5;
}

.preview {
  border: 1px solid #ccc;
}

/* table styles */

table {
  margin: 1em 0;
  width: 100%;
}

thead th {
  border-bottom: 2px solid #AAAAAA;
  color: #494949;
  font-weight: bold;
}

td, th {
  padding: .3em 0 .5em 0;
}

tr.even, tr.odd, tbody th {
  border: solid #D5D6D7;
  border-width: 1px 0;
}

tr.even {
  background-color: #fff;
}

tr.odd td.active {
  background-color: #E1CE1E1;
}

tr.even td.active {
  background-color: #F1F1F1;
}

td.region, td.module, td.container {
  border-top: 1.5em solid #fff;
  border-bottom: 1px solid #AAAAAA;
  background-color: #D5D6D7;
  color: #455067;
  font-weight: bold;
}

tr:first-child td.region, tr:first-child td.module, tr:first-child td.container {
  border-top-width: 0;
}

.box {
  clear: both;
  margin-top: 1.5em;
}

.form-text, .form-submit, .form-textarea, .form-item {
margin-top:        6px;
margin-bottom:     4px;
}

#edit-search-block-form-keys{
   border:1px solid #31363e;
   width:164px;
   margin-top:0;
   padding: 2px 0 2px 0;
   background:url('img/searchformbcg.gif') center center no-repeat;
}

#sidebarRight #edit-submit{
   border:1px solid #31363e;
   font: normal 1em "Trebuchet MS", sans-serif;
   cursor:pointer;
   background:#fff url('img/searchbtn.gif') bottom left repeat-x;
   width:65px;
   height:23px;
   margin:0;
   padding:0;
   line-height:100%;
}

.node blockquote {background: #f4f4f4 url('img/bquote1.gif') no-repeat 0% 0%; padding: 20px 0 0 40px; margin: 1em 30px;}
.node blockquote p {background: url('img/bquote2.gif') no-repeat;background-position:bottom right; padding: 0 40px 20px 0;}

#block-block-1 div.content{
   width:166px;
   background:url('img/feed3.gif') top center repeat-y;
}

#block-block-1 div.content div#feedcont{   
   background:url('img/feed2.gif') bottom center no-repeat;
}

#block-block-1 div.content ul{
   margin:0;
   padding:15px 6px 10px 15px;
   list-style:none; 
   background:url('img/feed1.gif') top center no-repeat;    
}

#block-block-1 div.content ul li{
   padding-bottom:4px; 
}

#sidebarLeft #block-comment-0 div.item-list ul,
#sidebarLeft #block-similar-0 div.item-list ul,
#sidebarLeft #block-block-3 div.item-list ul { list-style-type:none; margin:0; padding:0; }

#sidebarLeft #block-comment-0 div.item-list ul li,
#sidebarLeft #block-similar-0 div.item-list ul li,
#sidebarLeft #block-block-3 div.item-list ul li { list-style-type:none; margin:0; border-bottom: 1px solid #394559; text-align:left; }

#sidebarLeft #block-comment-0 div.item-list ul li a,
#sidebarLeft #block-similar-0 div.item-list ul li a,
#sidebarLeft #block-block-3 div.item-list ul li a { display: block; padding:2px 10px 5px 10px; text-decoration: none; color:#b9b9b9; }

#sidebarLeft #block-comment-0 div.item-list ul li a:hover,
#sidebarLeft #block-similar-0 div.item-list ul li a:hover,
#sidebarLeft #block-block-3 div.item-list ul li a:hover { background:#353b44; }

#sidebarLeft #block-comment-0 div.item-list ul li a span,
#sidebarLeft #block-similar-0 div.item-list ul li a span,
#sidebarLeft #block-block-3 div.item-list ul li a span { display:block; }

/*ADDED FOOTER STUFF */

/*\ IE/Win min height hack */ 
* html .FooterContain { height: 370px;} /* */ 
.FooterContain { width: 950px; /* set min-width for IE */ min-width: 100%; /* sets min-width value for all standards-compliant browsers */
 background: #31363E; clear: both; min-height: 370px; margin-top: 1em; padding: 12px 0px 0px 0px; border-top: 10px solid #3D4249;}
.Footer { width: 950px; margin: 0 auto; color: #E6E6E6; clear: both;} 
.Footer h2 { font-size: 20px; letter-spacing: -1px; font-weight: normal; color: #E6E6E6; padding: 15px 0px 10px 0px; margin: 0px; border-bottom: solid 5px #484E56; } 

.Footer ul { padding: 0px; margin: 20px 0px; border-top: dashed 1px #484E56; } 
.Footer li, .Footer .item-list ul li { background: url(img/foot_bullet.gif) no-repeat left; margin: 0px; padding: 5px 0px 6px 15px; list-style-type: none; border-bottom: dashed 1px #484E56; display: block;  } 
.Footer li small { font-size: 10px; color:#5e7d8c;} 

.Footer li a { color: #E6E6E6; }
.Footer li a:visited { color: #E6E6E6; }

.FooterRecent { float: left; width: 300px; }
.FooterRecent h2 { background: url(img/entries.gif) no-repeat left center; padding-left: 30px;}
.FooterCommented { float: left; width: 300px; margin: 0px 22px; }
.FooterCommented h2 { background: url(img/discussed.gif) no-repeat left center; padding-left: 30px;}
.FooterPartners {float: left; width: 300px; }
.FooterPartners h2 { background: url(img/sponsors.gif) no-repeat left center; padding-left: 30px;}

.FooterCopy { background: #484E56; width: 950px; color: #5e7d8c; float: left; } 
.Footer .seoposition { /*background: url(img/footer_logo.gif) no-repeat; width: 231px; height: 32px;*/ float: right; padding: 10px;} 
.Footer .seoposition em { display: none;} 

.FooterCopy p { padding: 10px; margin: 0px; font-size: 11px; color: #728a8a; float: left; } 
.FooterCopy a { text-decoration: underline; color: #728a8a; } 
.FooterCopy a:visited { text-decoration: underline; color: #728a8a; } 
.FooterCopy a:hover { text-decoration: underline; color: #728a8a; }

.Footer .block { margin: 0; }
.FooterPartners .content { margin-top: 20px; }
.FooterPartners table { margin-top: 0px !important; border-collapse: separate; border-top: dashed 1px #484E56 !important; }
.FooterPartners tbody { border: 0; border-bottom: dashed 1px #484E56; }
.FooterPartners td { padding: 0; padding-top: 1px !important; }
.FooterPartners span { text-align: left; padding: 5px 0 5px 15px; border-bottom: dashed 1px #484E56; background: url(img/foot_bullet.gif) no-repeat left; display: block; }

.biglists {
list-style-type:none;
margin:0pt;
padding:0pt;
}

.biglists li {
margin:0px;
padding:0px;
width:195px;
float:left;
}

.biglists a {
border-bottom:1px solid #EEEEEE;
display:block;
text-decoration:none;
}
