/** Amadou 3.x
* $Id: layout.css,v 1.1.2.2.2.1 2007/12/07 23:05:15 jwolf Exp $
*/

#container
{
	margin: 0 auto;
	padding:0;
	width:960px;
}


/*----------header----------*/
#header
{
	clear:both;
	height:114px;
	margin:0;
	padding:0;
	width:960px;
}


/*----------main content----------*/
#mainContent
{
	float:left;
	margin:0;
	overflow:hidden;
	padding:1em 0 4em;
/*	width is defined with the _get_mainContent_width function in template.php */
}


/*----------side bars----------*/
#sideBars-bg
{
	background: transparent url('images/sidebars-bg.gif') repeat-y scroll left top;
	float: right;
/*	width is defined with the _get_sideBars_width function in template.php */
}

#sideBars
{
	background:transparent url('images/sidebars-bg2.gif') no-repeat scroll left bottom;
	float:right;
/*	width is defined with the _get_sideBars_width function in template.php */
}

#leftSidebar
{
	float:left;
	margin:0 0 0 1.45em;
	padding:0.75em 0 0;
	width:180px;
}

#rightSidebar
{
	float:left;
	margin:0;
	padding:0.75em 0 0 1.45em;
	width:180px;
}


/*----------footer----------*/
#footer
{
	border-top:solid 1px #E1E1E1;
	clear:both;
	margin:1em auto;
	padding-top:1em;
	text-align:center;
	text-transform:lowercase;
	width:950px;
}